<h1> Register</h1>
<form action="/register" method="POST">
    <div>
        <labal for="name">name</labal>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <labal for="email">email</labal>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <labal for="password">password</labal>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a> 